/* Couleur de fond pour le corps */
body {
    background-color: #f8f9fa;
}

/* Marge supérieure pour la barre de navigation */
nav {
    margin-top: 20px ;
}

/* Couleur de fond et espacement pour la section de présentation */
.jumbotron {
    background-color: #343a40;
    padding: 50px;
    margin-bottom: 0;
    color: #fff;
}

/* Couleur de fond pour les cartes de produit */
.card {
    background-color: #fff;
}

/* Ajouter une ombre et une transition de survol pour les cartes de produit */
.card:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,.4);
    transition: all .3s ease-in-out;
}

/* Ajouter un espace entre les cartes de produit */
.card:not(:last-child) {
    margin-right: 15px;
}

/* Couleur de fond et marge pour le pied de page */
footer {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
}

/* Centrez le texte dans le pied de page */
footer p {
    margin-bottom: 0;
    text-align: center;
}
